# Assignment Day 27 | 12th August 2020

#### Junior Pe√±a

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix

In [2]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
dfsvm = df.drop(['Name','PassengerId','Ticket','Cabin'],axis=1)
dfsvm.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
le = LabelEncoder()
dfsvm['Sex'] = le.fit_transform(dfsvm['Sex'])
dfsvm['Embarked'] = le.fit_transform(dfsvm['Embarked'])

In [7]:
def svm_data(sd):
    x = dfsvm.drop([sd],axis=1)
    y = dfsvm[sd]
    train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.2, random_state=10)
    svm = SVC(gamma=0.01, C=100)
    svm.fit(train_x, train_y)
    print(f"\nThe accuracy score is: {accuracy_score(svm.predict(test_x),test_y, normalize=True)}")
    print(f"\nThe confusion matrix is: \n{confusion_matrix(svm.predict(test_x), test_y)}")

### Pclass

In [8]:
svm_data('Pclass')

The accuracy score is: 0.9719101123595506

The confusion matrix is:
[[45  1  0]
 [ 1 29  2]
 [ 0  1 99]]

### Survived

In [9]:
svm_data('Survived')

The accuracy score is: 0.8146067415730337

The confusion matrix is:
[[100  18]
 [ 15  45]]

### Gender

In [10]:
svm_data('Sex')

The accuracy score is: 0.7528089887640449

The confusion matrix is:
[[ 32  22]
 [ 22 102]]

### SibSp

In [11]:
svm_data('SibSp')

The accuracy score is: 0.7865168539325843

The confusion matrix is:
[[106  25   1   0   0   0   0]
 [  3  24   1   0   0   0   0]
 [  3   2   0   1   0   0   0]
 [  1   0   0   3   0   0   0]
 [  0   1   0   0   4   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]

### Parch

In [12]:
svm_data('Parch')

The accuracy score is: 0.8033707865168539

The confusion matrix is:
[[125  13   3   0]
 [  8   8   4   0]
 [  3   3  10   1]
 [  0   0   0   0]]

### Embarked

In [13]:
svm_data('Embarked')

The accuracy score is: 0.7415730337078652

The confusion matrix is:
[[ 14   0   7]
 [  1   9   2]
 [ 24  12 109]]