# Assignment Day 12 | 21th July 2020

#### Junior Peña

Based on the lecture and the tests you learnt, perform the appropriate test according to you
on the dataset of Company XYZ and give a short inference based on the p value and
hypothesis.

First, we are going to import pandas and use the function .read_csv to upload the document.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\junio\\Day 12\\general_data.csv")
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

After this, we have to convert the values in the Attrition column to integer using the '.map' function.

In [3]:
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

We can now check if there are any null values in each row. If there are null value, we are going to use the '.dropna' function to remove them as this can affect the results.

In [4]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

Doing a further inspectin to the data, we saw that the columns of 'EmployeeCount' and 'StandardHours' have the same repetitive value in each of them, so we are going to remove them as this has no real impact in defining the results.

In [7]:
df = df.drop(['EmployeeCount', 'StandardHours'], axis = 1)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,...,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,...,131160,1.0,Y,11,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,...,41890,0.0,Y,23,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,...,193280,1.0,Y,15,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,...,83210,3.0,Y,11,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,...,23420,4.0,Y,12,2,9.0,2,6,0,4

#### Mann Whitney Test

First, we are going to create two additional datasets to separate the values in the Attrition column.

In [11]:
df_yes = df[df['Attrition']== 1]
df_no = df[df['Attrition']== 0]

In [12]:
df_yes.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,...,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,2,Female,1,...,41890,0.0,Y,23,1,6.0,3,5,1,4
6,28,1,Travel_Rarely,Research & Development,11,2,Medical,7,Male,2,...,58130,2.0,Y,20,1,5.0,2,0,0,0
13,47,1,Non-Travel,Research & Development,1,1,Medical,14,Male,1,...,57620,1.0,Y,11,2,10.0,4,10,9,9
28,44,1,Travel_Frequently,Research & Development,1,2,Medical,29,Male,2,...,103330,3.0,Y,14,1,19.0,2,1,0,0
30,26,1,Travel_Rarely,Research & Development,4,3,Medical,31,Male,3,...,68540,2.0,Y,11,0,5.0,5,3,0,2

In [13]:
df_no.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeID,Gender,JobLevel,...,MonthlyIncome,NumCompaniesWorked,Over18,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,1,...,131160,1.0,Y,11,0,1.0,6,1,0,0
2,32,0,Travel_Frequently,Research & Development,17,4,Other,3,Male,4,...,193280,1.0,Y,15,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,4,Male,3,...,83210,3.0,Y,11,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,5,Male,1,...,23420,4.0,Y,12,2,9.0,2,6,0,4
5,46,0,Travel_Rarely,Research & Development,8,3,Life Sciences,6,Female,4,...,40710,3.0,Y,13,0,28.0,5,7,7,7

Now, we are going to import the corresponding library to use Mann Whitney test.

In [14]:
from scipy.stats import mannwhitneyu

Next, we are going to define a function to perform these tests in a more easier way.

In [21]:
def manwhitney(stats, p, variable):
    print('The Hypothesis statements are:')
    print('\nH0 = There is no significant difference between the different attrition values and the variable ', variable)
    print('\nHA = There is significant difference between the different attrition values and the variable ', variable, '\n')
    print('The R value is: ',stats, '\nThe P Value is: ', p,'\n')
    if p < 0.05:
        print('The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted')
    else:
        print("The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted")

Using the 'Age' column, we have the following results:

In [22]:
stats, p = mannwhitneyu(df_yes.Age, df_no.Age)
manwhitney(stats, p, 'Age')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  Age

HA = There is significant difference between the different attrition values and the variable  Age

The R value is:  949178.0
The P Value is:  7.98668614365882e-30

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Distance from home' column, we have the following results:

In [23]:
stats, p = mannwhitneyu(df_yes.DistanceFromHome, df_no.DistanceFromHome)
manwhitney(stats, p, 'DistanceFromHome')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  DistanceFromHome

HA = There is significant difference between the different attrition values and the variable  DistanceFromHome

The R value is:  1295261.0
The P Value is:  0.488538986087403

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted

Using the 'Education' column, we have the following results:

In [24]:
stats, p = mannwhitneyu(df_yes.Education, df_no.Education)
manwhitney(stats, p, 'Education')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  Education

HA = There is significant difference between the different attrition values and the variable  Education

The R value is:  1258277.0
The P Value is:  0.09888570408770686

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted

Using the 'Monthly Income' column, we have the following results:

In [26]:
stats, p = mannwhitneyu(df_yes.MonthlyIncome, df_no.MonthlyIncome)
manwhitney(stats, p, 'MonthlyIncome')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  MonthlyIncome

HA = There is significant difference between the different attrition values and the variable  MonthlyIncome

The R value is:  1249573.5
The P Value is:  0.06508807631576838

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted

Using the 'Number of companies worked' column, we have the following results:

In [27]:
stats, p = mannwhitneyu(df_yes.NumCompaniesWorked, df_no.NumCompaniesWorked)
manwhitney(stats, p, 'NumCompaniesWorked')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  NumCompaniesWorked

HA = There is significant difference between the different attrition values and the variable  NumCompaniesWorked

The R value is:  1238814.5
The P Value is:  0.02793197853866981

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Percent Salary Hike' column, we have the following results:

In [28]:
stats, p = mannwhitneyu(df_yes.PercentSalaryHike, df_no.PercentSalaryHike)
manwhitney(stats, p, 'PercentSalaryHike')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  PercentSalaryHike

HA = There is significant difference between the different attrition values and the variable  PercentSalaryHike

The R value is:  1231873.5
The P Value is:  0.017810794960084964

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Total Working Years' column, we have the following results:

In [31]:
stats, p = mannwhitneyu(df_yes.TotalWorkingYears, df_no.TotalWorkingYears)
manwhitney(stats, p, 'TotalWorkingYears')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  TotalWorkingYears

HA = There is significant difference between the different attrition values and the variable  TotalWorkingYears

The R value is:  895173.5
The P Value is:  2.741211827689903e-39

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Training Times Last Year' column, we have the following results:

In [32]:
stats, p = mannwhitneyu(df_yes.TrainingTimesLastYear, df_no.TrainingTimesLastYear)
manwhitney(stats, p, 'TrainingTimesLastYear')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  TrainingTimesLastYear

HA = There is significant difference between the different attrition values and the variable  TrainingTimesLastYear

The R value is:  1225582.0
The P Value is:  0.008107344081224082

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Years At Company' column, we have the following results:

In [33]:
stats, p = mannwhitneyu(df_yes.YearsAtCompany, df_no.YearsAtCompany)
manwhitney(stats, p, 'YearsAtCompany')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  YearsAtCompany

HA = There is significant difference between the different attrition values and the variable  YearsAtCompany

The R value is:  912579.0
The P Value is:  3.3433144809752036e-36

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Years Since Last Promotion' column, we have the following results:

In [34]:
stats, p = mannwhitneyu(df_yes.YearsSinceLastPromotion, df_no.YearsSinceLastPromotion)
manwhitney(stats, p, 'YearsSinceLastPromotion')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  YearsSinceLastPromotion

HA = There is significant difference between the different attrition values and the variable  YearsSinceLastPromotion

The R value is:  1196606.0
The P Value is:  0.00037904698157957496

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Years With Current Manager' column, we have the following results:

In [35]:
stats, p = mannwhitneyu(df_yes.YearsWithCurrManager, df_no.YearsWithCurrManager)
manwhitney(stats, p, 'YearsWithCurrManager')

The Hypothesis statements are:

H0 = There is no significant difference between the different attrition values and the variable  YearsWithCurrManager

HA = There is significant difference between the different attrition values and the variable  YearsWithCurrManager

The R value is:  945958.5
The P Value is:  5.420302388722274e-31

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

#### Chi square test

First, we are going to import the corresponding library to use Chi square test.

In [36]:
from scipy.stats import chi2_contingency

Next, we are going to define a function to perform these tests in a more easier way. We have to remember that Vhi square test can be performed in categorical variables only.

In [41]:
def chi2(stats, p, variable):
    print('The Hypothesis statements are:')
    print('\nH0= There is no dependency between the variables of Attrition and ', variable)
    print('\nHA= There is dependency between the variables of Attrition and ', variable)
    print('\nThe crosstab result between the variables is: \n', chicrosstab,'\n')
    print('The R value is: ',stats, '\nThe P Value is: ', p,'\n')
    if p < 0.05:
        print('The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted')
    else:
        print("The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted")

Using the 'Business Travel' column, we have the following results:

In [42]:
chicrosstab = pd.crosstab(df.Attrition, df.BusinessTravel)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'BusinessTravel')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  BusinessTravel

HA= There is dependency between the variables of Attrition and  BusinessTravel

The crosstab result between the variables is:
 BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
0                      412                621           2644
1                       36                204            465

The R value is:  70.07594084831366
The P Value is:  6.07019702736392e-16

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Department' column, we have the following results:

In [45]:
chicrosstab = pd.crosstab(df.Attrition, df.Department)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'Department')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  Department

HA= There is dependency between the variables of Attrition and  Department

The crosstab result between the variables is:
 Department  Human Resources  Research & Development  Sales
Attrition
0                       132                    2416   1129
1                        55                     449    201

The R value is:  25.89432541916022
The P Value is:  2.382970570769315e-06

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Education Field' column, we have the following results:

In [46]:
chicrosstab = pd.crosstab(df.Attrition, df.EducationField)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'EducationField')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  EducationField

HA= There is dependency between the variables of Attrition and  EducationField

The crosstab result between the variables is:
 EducationField  Human Resources  Life Sciences  Marketing  Medical  Other  \
Attrition
0                            48           1505        400     1163    214
1                            32            301         75      222     30

EducationField  Technical Degree
Attrition
0                            347
1                             45

The R value is:  43.132860148900384
The P Value is:  3.472896220587872e-08

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Gender' column, we have the following results:

In [47]:
chicrosstab = pd.crosstab(df.Attrition, df.Gender)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'Gender')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  Gender

HA= There is dependency between the variables of Attrition and  Gender

The crosstab result between the variables is:
 Gender     Female  Male
Attrition
0            1488  2189
1             268   437

The R value is:  1.3825823839528295
The P Value is:  0.23966176275638887

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted

Using the 'Job Level' column, we have the following results:

In [50]:
chicrosstab = pd.crosstab(df.Attrition, df.JobLevel)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'JobLevel')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  JobLevel

HA= There is dependency between the variables of Attrition and  JobLevel

The crosstab result between the variables is:
 JobLevel      1     2    3    4    5
Attrition
0          1369  1307  555  267  179
1           250   283   96   51   25

The R value is:  7.036480574687178
The P Value is:  0.13397290697032432

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted

Using the 'Job Role' column, we have the following results:

In [48]:
chicrosstab = pd.crosstab(df.Attrition, df.JobRole)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'JobRole')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  JobRole

HA= There is dependency between the variables of Attrition and  JobRole

The crosstab result between the variables is:
 JobRole    Healthcare Representative  Human Resources  Laboratory Technician  \
Attrition
0                                333              135                    648
1                                 56               21                    125

JobRole    Manager  Manufacturing Director  Research Director  \
Attrition
0              263                     381                183
1               42                      48                 54

JobRole    Research Scientist  Sales Executive  Sales Representative
Attrition
0                         714              810                   210
1                         158              165                    36

The R value is:  21.893724958847
The P Value is:  0.005116592717526599

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Marital Status' column, we have the following results:

In [49]:
chicrosstab = pd.crosstab(df.Attrition, df.MaritalStatus)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'MaritalStatus')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  MaritalStatus

HA= There is dependency between the variables of Attrition and  MaritalStatus

The crosstab result between the variables is:
 MaritalStatus  Divorced  Married  Single
Attrition
0                   872     1756    1049
1                    98      251     356

The R value is:  133.85785802925156
The P Value is:  8.573051828219379e-30

The Null Hypothesis H0 is rejected because P-Value < 0.05, so the Alternative Hypothesis HA is accepted

Using the 'Stock Option Level' column, we have the following results:

In [52]:
chicrosstab = pd.crosstab(df.Attrition, df.StockOptionLevel)
stats, p, dof, expected = chi2_contingency(chicrosstab)
chi2(stats, p, 'StockOptionLevel')

The Hypothesis statements are:

H0= There is no dependency between the variables of Attrition and  StockOptionLevel

HA= There is dependency between the variables of Attrition and  StockOptionLevel

The crosstab result between the variables is:
 StockOptionLevel     0     1    2    3
Attrition
0                 1564  1509  388  216
1                  316   267   84   38

The R value is:  3.444801419724394
The P Value is:  0.32799207189761653

The Alternative Hypothesis H0 is rejected because P-Value >= 0.05, so the Null Hypothesis HA is accepted