# Assignment Day 6 | 14th July 2020

#### Junior Pe√±a

### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

#### Input Format:

The first line of the input contains an email address.

#### Output Format:

Print the company name in single line.

#### Example;

Input:

john@google.com

Output:

google

In [9]:
a = input("Please enter the email: ")
b = a.split("@")
c = b[0]
d = b[1]
e = d.split(".")
print("The company is: ",e[0],end="")

Please enter the email: scottmendelson@yahoo.com
The company is:  yahoo

### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

#### Input Format:

The first line of input contains words separated by the comma.

#### Output Format:

Print the sorted words separated by the comma.

#### Example:

Input:

without,hello,bag,world

Output:

bag,hello,without,world

In [11]:
a = input("Please enter the comma separated words: ")
b = a.split(",")
c = sorted(b)
print("After sorting, the words are: ",",".join(c))

Please enter the comma separated words: dog,cat,table,drink,plate,yellow,air,pollution
After sorting, the words are:  air,cat,dog,drink,plate,pollution,table,yellow

### Question 3:
Create your own Jupyter Notebook for Sets.

Reference link: https://www.w3schools.com/python/python_sets.asp

### Sets

In Python, a set is a collection of items unordered and unindexed. As sets are mutable, one application for them is to quickly remove duplicates from a list.

As dictionaries, sets are written with curly brackets but doesn't have keys just values.

#### Example

In [30]:
A = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
print(A)
print(type(A))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

Sets can have multiple values inside it, as long as they are not duplicates.

In [31]:
B = {4, "Samsung", 18.24, 1 + 2j}
print(B)
print(type(B))

{18.24, 'Samsung', 4, (1+2j)}
<class 'set'>

We can use the argument '.add' to add elements to a certain set.

In [37]:
C = {"Catherine", "Benjamin", "Saoirse", "Emma"}
print("The original set is: ", C)

C.add("Isabella")
print("The new set is: ", C)

The original set is:  {'Benjamin', 'Emma', 'Saoirse', 'Catherine'}
The new set is:  {'Isabella', 'Saoirse', 'Benjamin', 'Emma', 'Catherine'}

We can also use the '.update' argument to add multiple elements.

In [38]:
D = {1, 2.5, 3, 4.5, 5, 5.5}
print("The original set is: ", D)

D.update([6, 6.5, 7, 7.5])
print("The new set is: ", D)

The original set is:  {1, 2.5, 3, 4.5, 5, 5.5}
The new set is:  {1, 2.5, 3, 4.5, 5, 5.5, 6, 6.5, 7, 7.5}

To remove elements from a set we can use the following arguments: '.remove', '.discard' and '.pop'. The '.pop' argument doesn't take any values, but removes the last element in the set.

In [46]:
E = {4, 5, 6, "George", "Robert", "Ava", 11.24, 21.36, 47.50}
print("The original set is: ", E)

#Remove argument
E.remove(6)
print("The new set after the use of the remove argument is: ", E)

#Discard argument
E.discard(47.50)
print("The new set after the use of the discard argument is: ", E)

#pop argument
E.pop()
print("The new set after the use of the pop argument is: ", E)

The original set is:  {'George', 'Ava', 4, 5, 6, 11.24, 47.5, 'Robert', 21.36}
The new set after the use of the remove argument is:  {'George', 'Ava', 4, 5, 11.24, 47.5, 'Robert', 21.36}
The new set after the use of the discard argument is:  {'George', 'Ava', 4, 5, 11.24, 'Robert', 21.36}
The new set after the use of the pop argument is:  {'Ava', 4, 5, 11.24, 'Robert', 21.36}

We can also use the '.clear' argument to empty the set.

In [47]:
F = {"Ford", 48, 3 + 2j, 8.56}
print("The original set is: ", F)

F.clear()
print("The new set after the use of the clear argument is: ", F)

The original set is:  {48, (3+2j), 8.56, 'Ford'}
The new set after the use of the clear argument is:  set()

In the same way, the 'del' keyword, deletes the set completely.

In [48]:
G = {18, 24.89, "Laptop", 4 + 6j}
print("The original set is: ", G)

del G
print("The new set after the use of the del keyword is: ", G)

The original set is:  {24.89, 18, 'Laptop', (4+6j)}

NameError: name 'G' is not defined

As we saw with lists and tuples, we can use the 'set()' constructor to creat a set from a group of elements, keeping in mind that a set doesn't allow duplicate values. Also, we can use the '.union' argument to merge different sets.

We are going to create two sets from a list and a tuple and then, merge them together.

In [53]:
#Create a list
H = [2, 4, 8, 10, "One", "Three", "Five"]
print(H)
print(type(H))

#Create a tuple
I = (1, 3, 5, 7, 9, "Seven", "Nine")
print(I)
print(type(I))

#Creat set from list
H = set(H)
print(H)
print(type(H))

#Creat set from tuple
I = set(I)
print(I)
print(type(I))

#Merge both sets
J = H.union(I)
print("The new set is: ", J)

[2, 4, 8, 10, 'One', 'Three', 'Five']
<class 'list'>
(1, 3, 5, 7, 9, 'Seven', 'Nine')
<class 'tuple'>
{2, 4, 'Three', 8, 10, 'Five', 'One'}
<class 'set'>
{1, 3, 5, 7, 9, 'Nine', 'Seven'}
<class 'set'>
The new set is:  {1, 2, 3, 4, 'Three', 5, 7, 8, 9, 10, 'Five', 'Nine', 'One', 'Seven'}

### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

#### Input Format:

The first line contains n-1 numbers with each number separated by a space.

#### Output Format:

Print the missing number

#### Example:

Input:1 2 4 6 3 7 8

Output:5

Explanation:

In the above list of numbers 5 is missing and hence 5 is the input

In [23]:
A = input("Please enter the space separated numbers: ")
A = list(map(int, A.split()))

def MissingNumber(A): 
    length = len(A) 
    total = (length + 1) * (length + 2) / 2
    sum_number = sum(A) 
    return print("The missing number is: ", int(total - sum_number))

MissingNumber(A)

Please enter the space separated numbers: 1 2 4 6 3 7 8
The missing number is:  5

### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

#### Example:

If the input list is

12 24 35 24 88 120 155 88 120 155

Then the output should be

12 24 35 88 120 155

#### Explanation:

Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:

In one line take the elements of the list L with each element separated by a space.

Output Format:

Print the elements of the modified list in one line with each element separated by a space.

#### Example:

Input: 12 24 35 24

Output:

12 24 35

In [29]:
number_list = input("Please enter the space separated numbers: ")
number_list = list(map(int, number_list.split()))
 
remove = [] 
[remove.append(x) for x in number_list if x not in remove] 

print ("The list without duplicates is : " + str(remove))

Please enter the space separated numbers: 12 18 24 18 45 67 88 45 101 230 12 88
The list without duplicates is : [12, 18, 24, 45, 67, 88, 101, 230]